@media (max-width: 480px){
  body {
    margin: 0 auto;
    padding: 0;
  }

  .navbar-inner{
    height: 100%;
    background-color: black;
    background-image: none;
  }

  .row1{
    background-color: black;
    color: white;
  }

  .row2 img{
    height: 54px;
    width: 319px;
    margin: 0 auto;
    vertical-align: middle;
    padding: 35px;
  }


  a{
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
  }

  a:link { 
    color: black;
    background-color: transparent;
  }
  a:visited { 
    color: black;
    background-color: transparent;
  }
  a:hover { 
    color: black;
    background-color: transparent;
  }
  a:active { 
    color: black;
    background-color: transparent;
  }

  .buttons{   
    display: inline-block;
    width: 200px;
  }

  .user-nav b{
    color:white;
    padding: 10px;
    position: left;
  }

  #container{
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  .span3#left{
    margin: 0 auto;
    width: 90%;
    background-color: #4B4D4C;
    color: white;
    display: block;
    /*float: left;*/
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    text-align: center;
    min-height: 700px;
  }

  .twitter{
    height: 350px;
    background-color: white;
    border-radius: 15px;
    color: black;
    margin-bottom: 15px;
  }

  .extras{
    min-height: 300px;
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 15px;
  }

  .extras img{
    width: 100%;
    border-radius: 10px;
  }

  .span6#center{
    margin: 0 auto ;
    width: 90%;
    background-color: #4B4D4C;
    color: white;
    display: block;
    /*float: left;*/
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    min-height: 700px;
  }

  #favorites{
    text-align: left;
  }

  .span3#right{
    margin: 0 auto;
    width: 90%;
    background-color: #4B4D4C;
    color: white;
    display: block;
    /*float: right;*/
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 20px;
    min-height: 700px;
  }

  h1{
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }

  .signup{
    display: block;
    width: 200px;
  }

}




@media (min-width: 480px){
  body {
    margin: 0 auto;
    padding: 0;
  }

  .navbar-inner{
    height: 125px;
    background-color: black;
    background-image: none;
  }

  .row1{
    background-color: black;
    color: white;
  }

  .row2 img{
    height: 54px;
    width: 319px;
    margin: 0 auto;
    vertical-align: middle;
    padding: 25px;
  }

  a:link { 
    color: black;
    background-color: transparent;
  }
  a:visited { 
    color: black;
    background-color: transparent;
  }
  a:hover { 
    color: black;
    background-color: transparent;
  }
  a:active { 
    color: black;
    background-color: transparent;
  }

  .user-nav b{
    color:white;
    padding: 10px;
    position: left;
  }

  .user-nav a{
    color:white;
    padding: 10px;
  }

  #container{
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  .span3#left{
    width: 21%;
    background-color: #4B4D4C;
    color: white;
    display:inline-block;
    /*float: left;*/
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    text-align: center;
    min-height: 700px;
    margin-bottom: 15px;
  }

  .span6#center{
    width: 42%;
    background-color: #4B4D4C;
    color: white;
    display:inline-block;
    /*float: left;*/
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    min-height: 700px;
    margin-bottom: 15px;
  }

  #favorites{
    text-align: left;
  }

  .span3#right{
    width: 21%;
    background-color: #4B4D4C;
    color: white;
    display:inline-block;
    /*float: right;*/
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    min-height: 700px;
    margin-bottom: 15px;
  }


  .twitter{
    height: 45%;
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 5px;
    margin-bottom: 15px;
  }

  .extras{
    min-height: 300px;
    background-color: white;
    border-radius: 15px;
    color: black;
    padding-top: 15px;
    padding-left: 15px;/*
    padding-right: 15px;*/
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

  }


  .extras li{
    list-style-image: url('http://i.imgur.com/TqrNuHz.png');
    text-decoration: underline;
    line-height: 28px;
  }

  .extras img{
    width: 100%;
    border-radius: 10px;
  }

  .extras ul li a{
    color: black;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
  }

  h1{
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
  }

  .cafeimages{
    margin: 0 auto;
    width:  200px;
    height: 200px;
  }

/*  h4{
      font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }*/

  p{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
  }

  #cafe_header{
    text-align: center;
  }

  #cafe_header p{
    line-height: 70%;
    font-size: 11px;
  }

  #cafe_blurb{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #cafe_blurb p{
    font-style: italic;
    font-size: 18px;
    text-align: center;
  }

  #cafe_contact_details p{
    color:#169E93;
    line-height: 70%
  }

  #wifi_details{
    background-color: grey;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    display: inline-block
  }

  #wifi_details p{
    line-height: 70%;
    font-size: 17px;
    /*text-align: center;*/
  }



  .row{
    margin: 0 auto;
  }


  th{
    text-align: left;
    padding: 5px;
  }

  .directions{
    margin-top: 15px;
  }

  .directions p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  .circular a img{
    margin: 15px;
    position: center;
    height: 150px;
    width: 150px;
  }

  .buttons{ 
    display: inline-block;
    width: 200px;
    margin-top: 10px; 
  }

  .signup{
    width: 105px;
    margin: 0 auto;
    margin-top: 210px;
  }

  .btn{
    margin: 12px;
  }

  .btn a{
    color: black;
  }

  .btn a:visited{
    color: black;
  }

  h3{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
  }


  #front_page_map{
    width: 100%;
    border-radius: 15px;
  }

  /*MAP 'You are here' sign*/
  .gm-style-iw{
    color:black;
    text-align: center;
  }

  /*MAP - CAFE NAME WHEN LOGO CLICKED*/
  .cafeHeading{
    font-size: 10px;
    margin: 0px;
    font-family: Roboto,Arial,sans-serif;
    text-transform: none;
    height: 10px;
  }
}





